<div class="footer container-fluid mt-5">
    <div class="row">
        <!-- BrandName -->
        <div class="col-lg-4 text-center">
            <h1>Restaurant</h1>
        </div>
        <!-- NavLinks -->
        <div class="col-lg-4 justify-content-center text-center">
            <a routerLink="">Home</a>
            <a routerLink="menu">Menu</a>
            <a routerLink="about">About</a>
            <a routerLink="contact">Contact</a>
        </div>
        <!-- social -->
        <div class="col-lg-4 justify-content-center text-center">
            <a href="" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
    </div>
    <p class="text-center col-lg-12" style="color: white;">&copy; 2022 Restaurant by Vaibhav</p>
</div>