<div class="container">
    <div class="col-lg-6 mb-5 mt-5">
        <form>
            <input type="text" class="form-control " placeholder="Enter first name"/>
            <input type="tel" class="form-control mt-2" placeholder="Enter last name"/>
            <input type="tel" class="form-control mt-2" placeholder="Enter your email"/>
            <input type="tel" class="form-control mt-2" placeholder="Enter your mobile"/>

            <button class="btn btn-dark btn-md mt-3">Submit</button>

        </form> 


</div>